.header {
    justify-content: flex-start;
    -unity-text-align: upper-center;
    font-size: 60px;
    color: rgb(202, 22, 22);
}

.button {
    left: auto;
    right: auto;
    position: relative;
    flex-direction: column;
    border-left-color: rgb(40, 183, 161);
    border-right-color: rgb(183, 40, 169);
    border-top-color: rgb(87, 183, 40);
    border-bottom-color: rgb(40, 82, 183);
}
